/* This is compiled SCSS */

*,
*::before,
*::after {
  margin: 0;
  border: 0;
  padding: 0;
  word-wrap: break-word;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 2;
  color: #000408;
}
.message-sent,
.message-received {
  clear: both;
}
.message-sent::before,
.message-received::before,
.message-sent::after,
.message-received::after {
  content: '';
  display: table;
}
header,
section,
footer {
  padding: 2em;
}
.center {
  max-width: 80em;
  margin-right: auto;
  margin-left: auto;
}
[class^='grid-'] {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
[class^='grid-'] {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.grid-message >[class^='col-'] {
  margin-top: 1em;
  margin-right: 1em;
}
.grid-message >[class^='col-']:nth-child(-n + 1) {
  margin-top: 0;
}
.grid-message >[class^='col-']:nth-child(1n) {
  margin-right: 0;
}
.col-message-sent {
  margin-left: calc(8.33333333% + 0.08333333em) !important;
}
.col-message-received {
  margin-right: calc(8.33333333% + 0.08333333em) !important;
}
.col-message-sent,
.col-message-received {
  width: calc(91.66666667% - 0.08235677em);
}
.message-sent,
.message-received {
  margin-top: 0.0625em;
  margin-bottom: 0.0625em;
  padding: 0.25em 1em;
}
.message-sent p,
.message-received p {
  margin: 0;
  line-height: 1.5;
}
.message-sent {
  float: right;
  color: white;
  background-color: dodgerblue;
  border-radius: 1em 0.25em 0.25em 1em;
}
.message-sent:first-child {
  border-radius: 1em 1em 0.25em 1em;
}
.message-sent:last-child {
  border-radius: 1em 0.25em 1em 1em;
}
.message-sent:only-child {
  border-radius: 1em;
}
.message-received {
  float: left;
  color: black;
  background-color: #ffc107;
  border-radius: 0.25em 1em 1em 0.25em;
}
.message-received:first-child {
  border-radius: 1em 1em 1em 0.25em;
}
.message-received:last-child {
  border-radius: 0.25em 1em 1em 1em;
}
.message-received:only-child {
  border-radius: 1em;
}
.message-box {
  margin-top: 1em;
  padding: 1em 0.5em;
  border-top-width: 0.0625em;
  border-style: solid;
  border-color: #ffc107;
  color: darkgray;
}
.message-box p {
  margin: 0;
  line-height: 1.5;
}
.col-message-sent {
  margin-top: 0.25em !important;
}
.col-message-received {
  margin-top: 0.25em !important;
}
.message {
  /*min-height: 53.33203125em;*/
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.message-sent a {
  color: #adff2f;
  font-weight: 400;
}

.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #F9F1E9;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.demo .main-title {
  text-transform: uppercase;
  font-size: 4.2em;
  letter-spacing: 0.1em;
}

.main-title .thin {
  font-weight: 200;
}

@media only screen and (max-width: 768px) {
  .demo .main-title {
    font-size: 3em;
  }
}

/**/

/* ---- reset ---- */

canvas {
  display: block;
  vertical-align: bottom;
}

body {
  background: #000;
}

#demo-canvas {
  position: absolute;
  width: 100%;
}

.ok__image-wrapper {
  width: 100%;
  text-align: center;
}

.ok__image {
  padding-top: 10vh;
  height: auto;
  width: 100%;
}

.ok__logo {
  margin: 20px;
}

.ok__logo a {
  color: white;
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
}

.ok__logo a:hover {
  text-decoration: none;
}

.ok__beta {
  color: #C0223C;
  vertical-align: sub;
  transform: translateX(-10px);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  transition: color 1s ease-in;
}

.ok__logo a:hover .ok__beta {
  color: #FF9D8E;
}

@media (max-width: 767px) {
  .ok__image {
    height: auto;
    width: 100%;
  }

  .ok__image_col {
    order: 2;
  }

  .message {
    padding: 20px 0 0;
  }
}

@media (min-width: 768px) {
  body {
    overflow: hidden;
  }

  .ok__logo {
    margin: 30px 20px 0;
  }

  .message {
    max-width: 30em; /* !!!!!!!!!! COMMENT OUT THIS LINE TO MAKE IT FULL WIDTH !!!!!!!!!! */
  }
}

@media (min-width: 1200px) {
  .ok__image {
    height: 100vh;
    width: auto;
  }
}
